body {
    background: url("../images/Arctostaphylos_uva-ursi_Atlas_Alpenflora.jpg");
    background-position: top center;
    background-size: cover;
}

.transparent-background {
  background-color: #fffff5e6 !important;
}
