body {
    background: url("../images/A_description_of_the_genus_Pinus_(Tab._4)_(7797268380).jpg");
    background-position: top center;
    background-size: cover;
}

.transparent-background {
  background-color: #fffff5e6 !important;
}
