/* body {
    background: url("../images/Homepage 4.jpg") repeat;
    background-position: top center;
    background-size: cover;
} */

body {
  background-color: #649565;
}

/* body {
  background: url("../images/Homepage 4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top center;
} */

@import url('http://fonts.cdnfonts.com/css/antique-olive');
@import url('http://fonts.cdnfonts.com/css/papyrus');

html {
  min-height: 1200px;
}

.transparent-background {
  background-color: #fffff5e6;
}

.top-banner {
  height: 500px;
  width: 100%;
  padding-top: 50px;
}

.top-spacer {
  padding-top: 100px;
}

.top-banner img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.mySlides {
  height: 100%;
  display: block;
}

#homepage-image {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 650px;
  object-fit: cover;
}

.banner-text {
  background: rgba(0,0,0,0.3);
  padding: 0;
  z-index: 10;
  position: absolute;
  top: 300px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
}

.banner-text p {
  color: white;
  text-align: center;
  font-size: x-large;
  font-family: "Antique Olive";
  margin: 1.5em 0;
}

.transparent-background {
  background-color: #fffff5e6 !important;
}

.nav-container {
  margin-left: auto;
  background-color: #662640 !important;
}

#homepage-referrals-left {
  margin-left:0px;
  width: 40%;
  background-color: #649565 !important;
  color: #603811 !important;
}

#homepage-referrals-right {
  margin-right:0px;
  width: 40%;
  background-color: #649565 !important;
  color: #603811 !important;
}

@media only screen and (max-width: 768px) {

  #homepage-referrals-left {
    margin-right:auto;
    margin-left:auto;
    width: 90%
  }

  #homepage-referrals-right {
    margin-right:auto;
    left: 20px;
    margin-left:auto;
    width: 90%
  }

  .index-wrapper {
    position: relative;
    height: 600px;
  }
}

@media only screen and (max-width: 480px) {
  #homepage-referrals-left {
    bottom: 300px;
  }
}

@media only screen and (max-width: 382px) {
  #homepage-referrals-left {
    bottom: 325px;
  }
}

.index-wrapper {
  position: relative;
  height: 1350px;
}

.navbar {
  background-color: #662640;
  font-family: 'Antique Olive', sans-serif;
  color: #c4d7a8;
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-size: x-large;
}

nav {
  background-color: #662640;
}

.navbar .nav-tabs li {
  background-color: #662640;
}

.navbar .nav-tabs {
  background-color: #662640;
}

#navbarSupportedContent ul {
  background-color: #662640;
}

.navbar li a {
  color: #c4d7a8 !important;
}

.active a {
  background-color: #9a9a1a !important;
}

.nav li.active {
  background-color: #9a9a1a !important;
}

.navbar li:hover a {
  background-color: #482e38 !important;
}

 .text-content {
margin:0 0 25px 25%;
overflow:hidden;
padding:20px;
background-color:#f9f8fd;
-webkit-border-radius: 10px;
border-radius: 10px;
width: 70%;
}

.portfolio-photo img {
  width:100%;
  margin-bottom: 10px;
}

.about-us-text {
    padding-right: 25px;
    color: #603811 !important;
    text-align: center;
}

.about-us-text h1 {
  font-family: 'Papyrus', sans-serif;
  font-size: 100px;
}

#top-spacing {
    margin-top: 50px;
}

.about-us-text p {
  font-size: 35px;
}

.navbar a {
  color: black !important;
}

#overlayImage {
  width: 70%;
  margin-top: -5%;
}

/* The Overlay (background) */
.overlay {
   /* Height & width depends on how you want to reveal the overlay (see JS below) */
   height: 100%;
   width: 100%;
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   background-color: rgb(0,0,0); /* Black fallback color */
   background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
   overflow-x: hidden; /* Disable horizontal scroll */
   display: none;
}

/* Position the content inside the overlay */
.overlay-content {
   position: relative;
   top: 25%; /* 25% from the top */
   width: 100%; /* 100% width */
   text-align: center; /* Centered text/links */
   margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #818181;
   display: block; /* Display block instead of inline */
   transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
   color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
   .overlay a {font-size: 20px}
   .overlay .closebtn {
       font-size: 40px;
       top: 15px;
       right: 35px;
   }
}

.btn-primary {
  margin-top: 5px;
}

input {
  margin-bottom: 10px;
}

#thank-you {
  display: none;
}

@media only screen and (max-width: 768px) {
  .portfolio-photo img {
    width: 70%;
    margin-left:15%;
    margin-bottom: 25px;
  }

  .text-content {
 margin-left: 15%;
 width: 70%;

 }

 .navbar-toggler-icon {
   color: white;
 }

  .navbar {
    max-width: 60%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

}


/* Slideshow container */
.slideshow-container {
    height: 650px;
    width: 100%;
    position: relative;
}

.slideshow-container img {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100%;
  object-fit: cover;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0px;
}
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }
